<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="node_modules/vue/dist/vue.js"></script>
</head>
<body>
    
    <div id="app">
        <input type="text" v-model="n">+<input type="text" v-model="m"> = 
        {{sum}}
    </div>

    <script>
       new Vue({
           el:"#app",
           data:{
              n:'',
              m:''
           },
           methods:{

           },
           computed:{
                sum:function(){
                    return Number(this.n)+Number(this.m)
                }
           }
       })
    </script>
</body>
</html>